
  <%- include("./partials/header") %>
  <body>

    <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io(); //socket and Game our global objects
        var ide1 = <%= id1 %>;
        var ide2 = <%= id2 %>;

        var playerID = ide1.toString(16) + ide2.toString(16);
        socket.emit("HEHE", {
          idd : playerID
        });

      </script>
    <!-- non dependent files: -->
    <script src="dbgame/js/dragonBallGame/HELPERS/Helper.js"></script>

    <!-- strict hierarchy in order of files, dependency between each other -->
    <script src="dbgame/js/index.js"></script>
    <script src="dbgame/js/dragonBallGame/HELPERS/ShortestPath.js"></script>
    <script src="dbgame/js/dragonBallGame/Tiles.js"></script>
    <script src="dbgame/js/dragonBallGame/Camera.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/Entity.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/Mob.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/Enemy.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/MainCharacter.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/OtherPlayer.js"></script>
    <script src="dbgame/js/dragonBallGame/LEVELS/Level.js"></script>
    <script src="dbgame/js/dragonBallGame/SKILS/Skill.js"></script>
    <script src="dbgame/js/dragonBallGame/ENTITIES/statics/StaticEntity.js"></script>


  </body>
</html>
