<form action="/login" method="post">
  <label for="nick">
    Enter your nick:
    <input type="text" name="nick" required></input>
  </label>
  <label for="password">
    Enter your password:
    <input type="password" name="password" required></input>
  </label>
  <button>submit</button>
</form>
